<!-- BEGIN HEADER -->
<%include widget/adminheader%>
<!-- END HEADER -->

<!--BEGIN LOAD PAGE LEVEL CSS STYLE-->
<!-- IF YOU HAVE PAGE LEVEL CSS-->
<!--<link href="/css/pages/varPageName.css" rel="stylesheet" media="screen">-->
<!--END LOAD PAGE LEVEL CSS STYLE-->

<!-- BEGIN PAGE CONTAINER -->
<div class="page-container">
    <div class="page-content">
        <!-- BEGIN PAGE CONTENT -->
        <div class="container">
            <div class="row" style="padding-left:15px;padding-right:15px;">
                <div class="col-md-12 col-lg-12 dehum-content-title">
                    除湿机管理
                </div>
                <div class="col-md-6 col-lg-6 margin-top-10">

                </div>
            </div>
        </div>
        <!-- END PAGE CONTENT -->
    </div>
</div>
<!-- END PAGE CONTAINER -->



<!-- BEGIN FOOTER -->
<%include widget/adminfooter%>
<!-- END FOOTER -->


<!-- BEGIN PAGE LEVEL SCRIPTS IF NEEDED-->
<script type="text/javascript" src="/assets/plugins/validator.min.js" ></script>
<!-- END PAGE LEVEL SCRIPTS IF NEEDED -->

<script>
    function initMe() {
    }

    jQuery(document).ready(function() {
        initMe()
    });
</script>


</body>
</html>