<!-- BEGIN HEADER -->
<%include widget/header%>
<!-- END HEADER -->

<!--BEGIN LOAD PAGE LEVEL CSS STYLE-->
<!-- IF YOU HAVE PAGE LEVEL CSS-->
<link href="/css/pages/alarms.css" rel="stylesheet" media="screen">
<!--END LOAD PAGE LEVEL CSS STYLE-->

<!-- BEGIN PAGE CONTAINER -->
<div class="page-container">
    <div class="page-content">
        <!-- BEGIN PAGE CONTENT -->
        <div class="container">
            <div class="row" style="padding-left:15px;padding-right:15px;">
                <div class="col-md-12 col-lg-12 dehum-content-title">
                    告警查询
                </div>
                <div class="col-md-4 col-lg-4 margin-top-10">
                    <div class="input-group">
                        <span class="input-group-addon" id="span_area">区域</span>
                        <select id="dlst_area" class="form-control"  aria-describedby="span_area">
                        </select>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 margin-top-10">
                    <div class="input-group">
                        <span class="input-group-addon" id="span_box">机柜</span>
                        <select id="dlst_box" class="form-control"  aria-describedby="span_box">
                        </select>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 margin-top-10">
                    <div class="input-group">
                        <span class="input-group-addon" id="span_device">装置</span>
                        <select id="dlst_device" class="form-control"  aria-describedby="span_device">
                        </select>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 margin-top-10">
                    <div class="input-group">
                        <span class="input-group-addon">开始日期</span>
                        <input type="text" class="form-control" placeholder="请选择日期..." id="searchDate_Begin" readonly style="cursor: pointer">
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 margin-top-10">
                    <div class="input-group">
                        <span class="input-group-addon">结束日期</span>
                        <input type="text" class="form-control" placeholder="请选择日期..." id="searchDate_End" readonly style="cursor: pointer">
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 margin-top-10">
                    <button class="btn btn-primary disabled" id="btn_search" style="width: 100px;">查询</button>
                </div>
                <div class="col-md-12 col-lg-12 margin-top-10">
                    <table id="tb_alarm" class="display dataTable table table-bordered dt-head-center" style="table-layout: fixed;" cellspacing="0" width="100%">
                        <thead>
                        <tr>
                            <th>时间</th>
                            <th>区域名称</th>
                            <th>机柜名称</th>
                            <th>除湿机号</th>
                            <th>报警类型</th>
                            <th>报警状态</th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>

        <!-- END PAGE CONTENT -->
    </div>
</div>
<!-- END PAGE CONTAINER -->



<!-- BEGIN FOOTER -->
<%include widget/footer%>
<!-- END FOOTER -->


<!-- BEGIN PAGE LEVEL SCRIPTS IF NEEDED-->
<script type="text/javascript" src="/assets/plugins/validator.min.js" ></script>
<script type="text/javascript" src="/assets/plugins/underscore-min.js" ></script>
<script type="text/javascript" src="/assets/plugins/moment.min.js" ></script>
<script type="text/javascript" src="/assets/plugins/jquery-ui/jquery-ui.min.js" ></script>
<script type="text/javascript" src="/assets/plugins/jquery-datatable/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/js/list_area_box_dev.js" ></script>
<!-- END PAGE LEVEL SCRIPTS IF NEEDED -->

<script>

    let searchParam = {areaNum: -1, boxNum: -1, devNum: -1}
    let req = getRequest()
    if(req.dev){
        var devInfo = req.dev.split('_')
        searchParam.areaNum = parseInt(devInfo[0]) ? parseInt(devInfo[0]) : -1
        searchParam.boxNum = parseInt(devInfo[1]) ? parseInt(devInfo[1]) : -1
        searchParam.devNum = parseInt(devInfo[2]) ? parseInt(devInfo[2]) : -1
    }
    // alert(typeof req.beginDate)
    searchParam.beginDate = validator.isDate(req.beginDate) ? req.beginDate : moment(new Date()).add(-1, 'month').format("YYYY-MM-DD")
    searchParam.endDate = validator.isDate(req.endDate) ? req.endDate : moment(new Date()).add(0, 'days').format("YYYY-MM-DD")

    $('#searchDate_Begin').val(searchParam.beginDate)
    $('#searchDate_End').val(searchParam.endDate)

    let areaList = []
    let boxList = []
    let deviceList = []

    let bAreaListLoaded = false
    let bBoxListLoaded = false
    let bDeviceListLoaded = false
    let bAllLoaded = false

    $.ajax({
        url:"/ajax/arealist",
        async:true,
        method:'GET'
    }).done(function(data){
        areaList = data.data
        bAreaListLoaded = true
    })

    $.ajax({
        url:"/ajax/boxlist",
        async:true,
        method:'GET'
    }).done(function(data){
        boxList = data.data
        bBoxListLoaded = true
    })

    $.ajax({
        url:"/ajax/devicelist",
        async:true,
        method:'GET'
    }).done(function(data){
        deviceList = data.data
        bDeviceListLoaded = true
    })


    let bindArea = function(){
        $('#dlst_area').empty()
        var html = "<option value=\"-1\">全部区域</option>"
        for(var i in areaList){
            html+='<option value="_Id_">_Name_</option>'
                .replace(/_Id_/,areaList[i].areaId)
                .replace(/_Name_/,areaList[i].areaName);
        }
        $('#dlst_area').append(html)
        $('#dlst_area').val(searchParam.areaNum)
    }

    $('#dlst_area').change(function(){
        searchParam.areaNum = parseInt($('#dlst_area').val())
        searchParam.boxNum = -1
        searchParam.devNum = -1
        bindBox()
        bindDevice()
    })

    $('#searchDate_Begin').change(function(){
        searchParam.beginDate = $('#searchDate_Begin').val()
    })

    $('#searchDate_End').change(function(){
        searchParam.endDate = $('#searchDate_End').val()
    })


    let bindBox = function(){
        $('#dlst_box').empty()
        var html = "<option value=\"-1\">全部机柜</option>"
        if(searchParam.areaNum != -1){
            let boxes = _.filter(boxList, function(box){return box.area_num == searchParam.areaNum;})
            for(var i in boxes){
                html+='<option value="_Id_">_Name_</option>'
                    .replace(/_Id_/,boxes[i].box_num)
                    .replace(/_Name_/,boxes[i].box_name);
            }
        }
        $('#dlst_box').append(html)
        $('#dlst_box').val(searchParam.boxNum)
    }

    $('#dlst_box').change(function(){
        searchParam.boxNum = parseInt($('#dlst_box').val())
        searchParam.devNum = -1
        bindDevice()
    })


    let bindDevice = function(){
        $('#dlst_device').empty()
        var html = "<option value=\"-1\">全部装置</option>"
        if(searchParam.areaNum != -1 && searchParam.boxNum != -1){
            let devices = _.filter(deviceList, function(device){return device.area_num == searchParam.areaNum && device.box_num == searchParam.boxNum;})
            for(var i in devices){
                html+='<option value="_Id_">_Name_</option>'
                    .replace(/_Id_/,devices[i].dev_num)
                    .replace(/_Name_/,devices[i].dev_num);
            }
        }
        $('#dlst_device').append(html)
        $('#dlst_device').val(searchParam.devNum)
    }

    $('#dlst_device').change(function(){
        searchParam.devNum = parseInt($('#dlst_device').val())
    })


    let enableSearch = function(){
        $('#btn_search').removeClass("disabled")
    }

    function goQuery() {
        var tableAlarms = $('#tb_alarm').DataTable({
                "processing": true,
                "serverSide": true,
                "bLengthChange": false,
                "destroy": true,
                "info": true,
                "ajax": {
                    "url": "/ajax/alarmListDT",
                    data: searchParam
                },
                "searching": false,
                "ordering": false,
                "autoWidth":false,
                "pageLength":10,
                "scrollCollapse":false,
                "language": {//代替表下方的英文页码说明
                    "sProcessing": "处理中...",
                    "sLengthMenu": "每页 _MENU_ 项",
                    "sZeroRecords": "没有匹配结果",
                    "sInfo": "当前显示第 _START_ 至 _END_ 项，共 _TOTAL_ 项。",
                    "sInfoEmpty": "当前显示第 0 至 0 项，共 0 项",
                    "sInfoFiltered": "(由 _MAX_ 项结果过滤)",
                    "sInfoPostFix": "",
                    "sSearch": "搜索:",
                    "sUrl": "",
                    "sEmptyTable": "表中数据为空",
                    "sLoadingRecords": "载入中...",
                    "sInfoThousands": ",",
                    "oPaginate": {
                        "sFirst": "首页",
                        "sPrevious": "上页",
                        "sNext": "下页",
                        "sLast": "末页",
                        "sJump": "跳转"
                    }
                },
                "columnDefs":[
                    {
                        "targets": 0,
                        "data": "time",
                        "width":"20%",
                        "render": function(data,type,row){
                            return  moment(data).format("YYYY-MM-DD HH:mm:ss");
                        },
                    },
                    {
                        "targets": 1,
                        "data":"area_name",
                        "width":"15%",
                    },
                    {
                        "targets": 2,
                        "data":"box_name",
                        "width":"15%",
                    },
                    {
                        "targets": 3,
                        "data":"dev_num",
                        "width":"10%",
                        "class": "dehum-td-align-center"
                    },
                    {
                        "targets": 4,
                        "data":"type_name",
                        "width":"30%",
                        "class": "dehum-td-align-center"
                    },

                    {
                        "targets": 5,
                        "data":"status",
                        "width":"10%",
                        "class": "dehum-td-align-center"
                    }
                ]
            }
        )
    }

    function initMe() {
        $('#searchDate_Begin').datepicker({dateFormat: "yy-mm-dd"});
        $('#searchDate_End').datepicker({dateFormat: "yy-mm-dd"});

        // 等全部的数据从服务器返回后，再绑定下拉列表
        let loadInterval = setInterval(function(){
            // alert('--check load--')
            bAllLoaded = bAreaListLoaded && bBoxListLoaded && bDeviceListLoaded
            if(bAllLoaded) {
                // alert('--all loaded--')
                bindArea()
                bindBox()
                bindDevice()

                enableSearch()
                goQuery()

                clearInterval(loadInterval)
            }
        }, 1000)

        $('#btn_search').click(goQuery)
    }

    jQuery(document).ready(function() {
        initMe()
    });
</script>


</body>
</html>