<!-- BEGIN HEADER -->
<%include widget/header%>
<!-- END HEADER -->



<!--BEGIN LOAD PAGE LEVEL CSS STYLE-->
<link href="/css/pages/index.css" rel="stylesheet" media="screen">
<!--END LOAD PAGE LEVEL CSS STYLE-->

<!-- BEGIN PAGE CONTAINER -->
<div class="page-container">
    <div class="page-content">
        <!-- BEGIN PAGE CONTENT -->
        <div class="container">
            <div class="dehum-content-title ">全站运行工况</div>
            <div class="row" style="margin-top: 15px;">
                <div class="col-lg-4 col-md-4">
                    <div class="dehum-content-subtitle dehum-div-border">
                        <span>在线台数/总台数</span>
                        <span class="dehum-content-subtitle-value">12/120</span>
                    </div>
                    <div class="dehum-div-border">
                        asfasd
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="dehum-content-subtitle dehum-div-border">在线总台数</div>
                    <div class="dehum-div-border">
                        asfasd
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="dehum-content-subtitle dehum-div-border">在线总台数</div>
                    <div class="dehum-div-border">
                        asfasd
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 15px;">
                <div class="col-lg-6 col-md-6">
                    <div class="dehum-content-subtitle dehum-div-border">在线总台数</div>
                    <div class="dehum-div-border">
                        asfasd
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="dehum-content-subtitle dehum-div-border">在线总台数</div>
                    <div class="dehum-div-border">
                        asfasd
                    </div>
                </div>
            </div>
        </div>
        <!-- END PAGE CONTENT -->
    </div>
</div>
<!-- END PAGE CONTAINER -->


<!-- BEGIN FOOTER -->
<%include widget/footer%>
<!-- END FOOTER -->



</body>
<!-- END BODY -->
</html>