.dehum-content-title{
    font-size: 24px;
    color: #4ecde2;
}


.dehum-content-subtitle{
    font-size: 18px;
    color: #4ecde2;
}


.dehum-content-subtitle-value{
    font-size: 24px;
    color: #21ad5c;
}


.dehum-div-border{
    border: 1px solid grey;
    text-align: center;
}

body{
    color: white;
}

.dehum-div-update-error{
    color: red;
}

.dehum-div-update-success{
    color: #4ecde2;
}

.dehum-div-update-hide{
    display: none;
}

.dehum-div-ui-dialog{
    height: 30px;
    line-height: 30px;
    margin: 10px 0px;
}

.dehum-div-ui-dialog label{
    margin-right: 10px;
}