.div-device{
    /*margin:5px;*/
    padding: 5px;
    border:1px solid #CCCCCC;
    margin: 10px 0px;
}

.div-device-title{
    text-align: center;
    color: white;
    font-size: 16px;
}

.div-device-item {height: 30px; line-height: 30px; font-size: 14px; margin-top: 10px;}
.div-device-item .showicon{height: 30px; line-height: 30px; text-align: center;}
.div-device-item .showicon span{ padding: 0 20px 0 5px;}
.div-device-item .key{min-width: 150px; float:left;height: 30px; line-height: 30px; text-align: center;}
.div-device-item .value{min-width: 100px; float:left;height: 30px; line-height: 30px;}
.div-device-detail a{color: #0da3e2}
.div-device-detail {text-align: right}

#results-page{
    text-align: right;
}

#span_total_count{
    font-size: 16px;color:#21ad5c;padding: 0 3px;
}