<!-- BEGIN HEADER -->
<%include widget/header%>
<!-- END HEADER -->

<!--BEGIN LOAD PAGE LEVEL CSS STYLE-->
<!-- IF YOU HAVE PAGE LEVEL CSS-->
<!--<link href="/css/pages/varPageName.css" rel="stylesheet" media="screen">-->
<!--END LOAD PAGE LEVEL CSS STYLE-->

<!-- BEGIN PAGE CONTAINER -->
<div class="page-container">
    <div class="page-content">
        <!-- 面包屑 -->
        <ul class="page-breadcrumb breadcrumb">
            <li>
                <a href="/">文曲星</a><i class="fa fa-circle"></i>
            </li>
            <li>
                面包屑
            </li>
        </ul>
        <!-- 面包屑 -->

        <!-- BEGIN PAGE HEAD -->
        <div class="container">
            <div class="row" style="padding-left:15px;padding-right:15px;">
                <div class="col-md-12 div-sow-center">
                    我是一个兵，来自老百姓
                </div>
            </div>
        </div>
        <!-- END PAGE CONTENT -->
    </div>
</div>
<!-- END PAGE CONTAINER -->



<!-- BEGIN FOOTER -->
<%include widget/footer%>
<!-- END FOOTER -->


<!-- BEGIN PAGE LEVEL SCRIPTS IF NEEDED-->

<!-- END PAGE LEVEL SCRIPTS IF NEEDED -->

<script>
    function initMe() {
    }

    jQuery(document).ready(function() {
        initMe();
    });
</script>
<!--百度统计的代码-->
</body>
</html>